

img {
    float: right;
    margin: 1px;
    border: 3px solid #000;
}

body {
    font-size: 18px;
    line-height: 1.5;
}

header,
nav,
main,

footer {
    margin: 1.2rem auto;
    max-width: 700px;
}

footer,
header {
    font-family: 'Tangerine', serif;
    font-size: 20px;
    text-shadow: 4px 4px 4px #aaa;
    background-color: cornflowerblue;
    border-radius: 15px;
    color: rgba(249, 249, 252, 0.925);
    text-decoration: rgb(2, 2, 83);
    text-align: center;
    padding: 1.5rem;
    box-shadow: 0 6px 20px 0 rgba(0,0,0,0.2), 0 6px 20px 0;
}

