body {
    font-size: 18px;
    line-height: 1.5;
}

img {
    float: right;
    margin: 1px;
    border: 3px solid #000;
}

header,
nav,
main,
footer {
    margin: 1.2rem auto;
    max-width: 760px;
}

header,
footer {
    background-color: cornflowerblue;
    color: rgba(246, 245, 250, 0.925);
    /*box-sizing: border-box;
    box-shadow: 0 6px 20px 0 rgba(0,0,0,0.2), 0 6px 20px 0;*/
    text-decoration: rgb(2, 2, 83);
    text-align: center;
    padding: 1.5rem;
}

