/*<link rel="stylesheet" href="css/small.css">
    <link rel="stylesheet" href="css/medium.css">*/
    img {
        width: 200px;
        height: auto;
        float: right;
        margin: 1px;
        border: 3px solid #000;
        max-width: 100%;
        display: block;
    }
    
    body {
        font-size: 18px;
        line-height: 1.5;
    }

    h1 {
        font-size: 1.5rem;
        margin: 0.15rem;
    }

    h2 {
        font-size: 1.0rem;
        border-bottom: 1px solid grey;
        margin: 0.5rem;
    }
    
    header,
    nav,
    main,
    footer {
        margin: 1.2rem auto;
        max-width: 700px;
    }
    
    header, footer {
        font-family: 'Tangerine', serif;
        font-size: 15px;
        text-shadow: 4px 4px 4px #aaa;
        background-color: cornflowerblue;
        color: rgba(249, 249, 252, 0.925);
        text-decoration: rgb(2, 2, 83);
        text-align: center;
        padding: 1.5rem;
        box-shadow: 0 6px 20px 0 rgba(0,0,0,0.2), 0 6px 20px 0;
    }
    
    .items {
        display: flex;
        justify-content: space-between;
      }