* {-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; box-sizing:
    border-box; }

    /* body rules here */
    body {
        font-family: 'Lucida Sans';
        font-size: 16px;
    }

    /* header rules here */
    /*header {
        background-color: #4bbedb;

        padding: 1rem 2%;
        text-align: center;
    }*/

    header {
        font-family: 'Tangerine', serif;
        font-size: 25px;
        color: rgba(7, 7, 250, 0.925);
        text-align: center;
        padding: 1.5rem;
        }

   

    /*phone/bases views here */
    main {
        max-width: 767px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        font-size: 0.8rem;
        }

    main section h2 {
        color:  rgba(7, 7, 250, 0.925);
    }    

    main section {
        margin: 0.5rem;
        border: 1px solid #bbb;
        padding: 0 1rem;
        background-color: #eee;
    }

    main section:nth-child(2) {
        display: none;
        margin: 0.5rem;
    }

    .colimage {
        box-shadow: 0 0 30px #333;
    }

    /* Tablet Views */
@media only screen and (min-width: 37.5em) {
	main {
		grid-template-columns: 1fr 1fr;
	}

	main section:nth-child(2) {
		display: block;
	}

	main section:nth-child(3) {
		grid-column: span 2;
	}

	main section picture {
		display: block;
	}
	main section picture img {
		width: 100%;
		height: auto;
		border: 1px solid #bbb;
	}
}

/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
	main {
		grid-template-columns: 1fr 1fr 1fr;
	}

	main section:nth-child(3) {
		grid-column: span 1;
	}
}
