/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 500px) {

nav {/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b4e391+0,61c419+50,b4e391+100;Green+3D */
    background: #b4e391;
    background: -moz-linear-gradient(top,  #b4e391 0%, #418d0b 50%, #b4e391 100%); 
    background: -webkit-linear-gradient(top,  #b4e391 0%,#61c419 50%,#b4e391 100%);
    background: linear-gradient(to bottom,  #b4e391 0%,#418d0b 50%,#b4e391 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 ); /* IE6-9 */
    }

nav button {display: none;}

header img {
    max-width: 100%;
}

.headings h1 {
    font-size: 3.6rem;  
}

.m  {
    font-style: initial;
    font-size: x-large;
    letter-spacing: 2pt;
    color: rgb(7, 5, 1);
    margin-left: 20px;
    max-width: 100%;
}

nav .menu ul.hide {display: block;}
nav .menu ul {
    margin-left: 2%;
    flex-direction: row;
}
nav .menu ul li {
    float: left;
}

nav .menu ul li a {
    border:springgreen;
    border-right: 1px solid rgba(0,0,0,0.3);
    padding: .6rem 1rem;
    
    flex-direction: column;
}


picture.myphotoA {
    display: block;
    width: 60%;
    height: auto;
    margin: 0 2%;
    align-content: center;
}
/*
main picture.myphotoA img, main picture.myphotoB img {width: 100%; }*/

main picture.myphotoB img {width: 100%; }



section.forecast {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
section.forecast div {
    text-align: center;
    border: 1px solid green;
}
section.forecast div h5 {
    background-color: rgb(218, 243, 180);
    margin: 0;
    padding: 1rem 0;
}
 
}