@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
	height: 100vh;
	font-size: 14px;
	font-family: Montserrat, helvetica, sans-serif;
    text-align: left;
    padding: 1rem 2%;
}
em {
	font-size: smaller;
}

input,
button,
select,
textarea {
	margin-bottom: .5rem;
    display: block;
    font-size: 1rem;
	border: 2px solid #333;
    border-radius: 6px;
	padding: .50rem; 
    color: rgb(7, 92, 4);
    width: 100%;
    max-width: 20rem;
}

label, legend {
	margin-top: .5rem;
	margin-left: 5rem;
	display: block;
	font-size: 1rem;
	font-weight: 700;
	width: 200px;
	max-width: 20rem;
}

input:focus {
	box-shadow: 0 0 10px rgb(6, 141, 78);
}
fieldset {
	background-color: rgb(245, 241, 191);
}

.nestedfieldset {
	background-color: #fff;
	margin-bottom: 2rem;

}


input[type="button"] {
	color: rgb(0, 255, 0);
}
input[type="button"]:hover {
	background-color: #ddf;
}

input:invalid {
	background-color: rgb(243, 241, 220);
	color: #000;
}
input:valid {
	background-color: rgb(171, 238, 171);
	color: #000;
}

.flexly {
	display: flex;
	text-align: left;
	align-items: center;
}

#ratingvalue {
	margin: 0 15px;
	color: #2075ff;
}

#selected {
	position: absolute;
	top: 550px;
	left: 300px;
	border: 1px solid rgb(6, 97, 51);
	background-color: #abe;
	padding: 10px;
	font-weight: 700;
	display: none;
}

/*.bottom {
	display: flex;
	align-content: bottom;
}*/

.sbutton {
	margin-left: 15rem;
	background-color: #abe;
	/*font-weight: 200;*/
	border: 1px solid rgb(8, 221, 19);
	box-shadow: 0 0 7px #777;	

	margin-bottom: .5rem;
    /*display: block;*/
    font-size: 1rem;
    border-radius: 6px;
	padding: .50rem; 
    color: rgb(7, 92, 4);
    width: 100%;
    max-width: 20rem;
}