th, td {
    border: 1px solid rgb(117, 115, 115);  
}

table {
    box-shadow: 10px 10px 5px #7fb9c2;
}

th {
    padding: 7px 5px;
    text-align: center;
    background-color:  #628ca6;
    font: 1.5rem  Ubuntu, sans-serif;
    color: white; 
}

td {
    padding: 7px 5px;
    text-align: center;
    font: 1.5rem  Ubuntu, sans-serif;
    color: black;
}

.thead {
    background-color: #7fb9c2;
    color: black;
    font: 2.3rem  Ubuntu;
}

.tfoot {
    background-color: #7fb9c2;
    font: .8rem  Ubuntu;
}

tr:nth-child(even) {
    background-color: #e7ffed;
}
  
tr:nth-child(odd) {
    background-color: #e7f0ed;
}