/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
* {-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; box-sizing:
    border-box; }*/

/*64em is also 1028px (if basefont is 16px)*/
@media only screen and (min-width: 64rem) {
    header, nav, main, footer {
        max-width: 64rem;
        margin: auto;  
    }
}

main {max-width:820px;margin:0 auto;}

body {
    background-color: #fff;
    padding: 0;
    margin: 0;
}


header {
    background-color: #fff;
    padding: 5px 0;
    display: flex;
    align-content: center;
    justify-content: center;
}

header img {
    max-width: 70%;
    height: auto;
}


.headings {
    display: flex;
    flex-direction: column;
}

.headings h1 {
    font-size: 1.6rem;
    margin: 0 0 0 17px;
    color: #058b22;
    font-family: 'Lobster Two', cursive;
}


.m  {
    font-style: italic;
    letter-spacing: 1pt;
    color:rgb(7, 5, 1);
    margin-left: 20px;
    font-size: small;
    max-width: 70%;
    }
  
    section.forecast{display: none;}  

h2 {
    text-align: center;
    color: #000702;
    margin: 0 0 0 17px;
    font-family: 'Gorditas', cursive;
}


.herodiv {
    margin: 10px auto;
    position: relative;
    border: 1px dashed green;
    width: 960px;
    height: 300px;
}

hero_ph {
    margin: 10px auto;
    background-color: greenyellow;
    border: 1px solid green;
    width: 98%;
    height: 150px;
}


.summary {
    position: absolute;
    top: 150px;
    left: 50px;
    background: radial-gradient(#eee, #f0e009);
	border: 1px solid #000;
    padding: 5rem;
    box-shadow: 0 0 10px #777;
    opacity: .8;
}


nav button {
    border: none;
    font-size: 1.6rem;
    color: rgb(59, 248, 106);
    float: right;
}


nav {
    background-color: #058b22;
    font-family: 'Hachi Maru Pop', cursive;
    
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: rgba(0,0,0,0.8);
    border-top: 1px solid rgba(0,0,0,0.3);
}


nav ul li.active a{background-color: rgba(0,0,0,0.2); color: #fff;}

nav ul li a:hover {background-color: rgba(0,0,0,0.4);}

nav ul.hide {display: none;}


div#message {background-color: yellow;}
div.showme{display: block;}
div.hideme{display: none;}

main {
    padding: 0 2%;
    min-height: 10rem;
    }




footer {
    color: white;
    text-align: center;
    padding: 1rem 2%;
    background-color: #24833a;
    text-align: center;
} 



.contentbox { 
    display: block;
    margin: 10px auto;
    border: 1px dashed grey;
    padding: 15px;
    background-color: rgb(233, 248, 211);
    color: green
}


.clearfix:after{
    content: "";
    display: table;
    clear: both;
}













