* {-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; box-sizing:
    border-box; }

    /* body rules  */
    body {
        font-size: 25px;
        font-family: Verdana, sans-serif;
    }
  

    /* header rules here*/ 
    header .logo {
    float: left;
    margin-right: 50px;
    padding: 5px;
}
    
    header {
        font-family: 'Ultra', serif; 
        background-color:#246E91;
        padding: 1rem 2%;
    }

    
    header h1 {
        font-family: Verdana;
        margin: 40px;
    }

    header h2 {
        font-family: 'Roman', cursive;
        margin: 20px;
    }

    header h3 {
        font-family: 'Roman';
        margin: 20px;
    }


    /* navigation rules here */
    nav {background-color: #5ba846;}
    nav ul {margin: 0; padding: 0;}
    nav li {list-style-type: none;}
    nav li.active {background-color: #034C8C;}

    nav a {
        display: block;
        padding: .8rem 0; 
        color: #034C8C;
        text-align: center;
        text-decoration: none;
    }
    nav a:hover {background-color:#96C6D9;}

    /*main rules here */
    main {
        padding: 1rem 2%;
        display: block;
    }

    main h1 {color: #034C8C;}

    main figure img {width: 100%;}
    main figure{
        width: 100%;
        margin: 0;
    }
    main figcaption {text-align: center; font-size: 
        .8rem;}

    footer {
        text-align: center;
        padding: 1rem 2%;
        background-color:#429fca;
    }    

    .clearfix::after{
        content: "";
        display: table;
        clear: both;
    }

    .logo {
        width: 210px;
        border: 4px solid #10245c;
        position: relative;
    }