/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}


/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: rgb(36, 95, 204);
}
header img{float: left; margin-right: 10px; width: 50px;}
header h1 {margin: 0; font-size: 1.3rem;}
header h2 {margin: 0; font-weight: normal; font-size: 1rem;}

/*----------- NAVIGATION --------------*/
nav {background-color: rgb(8, 163, 47);}
nav ul {margin: 0;  padding: 0;}
nav li {list-style-type: none;}
nav li.active {background-color:grey;}

nav a {
    display: block;
    padding: .8rem 0;
    color: rgb(14, 26, 32);
    text-align: center;
    text-decoration: none;
}
    
nav a:hover {background-color: rgb(49, 186, 240);
}


/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 10rem;
    
    display: block;
}


/*----------- FOOTER --------------*/
footer {
    background-color: rgb(36, 95, 204);
    padding: .5rem 2%;
    text-align: center;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}